<div className="App">
  <h1>Hi! This is an ImageKit Angular SDK Demo!</h1>
  <p>Video Element</p>
  <ik-video
    urlEndpoint="https://ik.imagekit.io/demo/"
    class='ikvideo-default'
    [path]='videoPath'
    [transformation]='transformation'
    controls=true>
  </ik-video>

  <p>Video with some advance transformation</p>
  <ik-video
    urlEndpoint="https://ik.imagekit.io/demo/"
    class='ikvideo-with-tr'
    [path]='videoPath'
    [transformation]='videoAdvanceTransformation'
    controls=true>
  </ik-video>
  <p>Dynamic transformation update directly using IKImage</p>
  <ik-image
        id="img-transformation-direct"
        class="img-transformation-direct"
        path={{path}}
        urlEndpoint="https://ik.imagekit.io/demo/"
        [transformation]="flexibleTransformationOne"
        [loading]="lazyload">
  </ik-image>
  <div>
    <p>Click here to apply transformations on the above image</p>
    <button
      class="btn-to-change-tr-direct"
      (click)="applyImgTransformationOne($event)">
      Click to apply transformations
    </button>
  </div>
  <br />
  <p>Lazy loading image</p>
  <ik-image
        class='lazyload'
        path={{path}}
        urlEndpoint="https://ik.imagekit.io/demo/"
        [transformation]="transformation"
        [loading]="lazyload">
  </ik-image>
  <p>Transformation - height and width manipulation</p>
  <ik-image 
    urlEndpoint="https://ik.imagekit.io/demo/"
    class='img-transformation' 
    [path]=path
    [transformation]='flexibleTransformationTwo'>
  </ik-image>
  <div>
    <p>Click here to apply max radius on above image </p>
    <button
      class='btn-to-change-tr'
      (click)='applyImgTransformationTwo($event)'>
      Click to apply radius
    </button>
  </div>
  <br />
  <p>Progressive image loading without lazy loading</p>
  <ik-image
        class='lqip'
        path={{path}}
        urlEndpoint="https://ik.imagekit.io/demo/"
        [transformation]="transformation"
        [lqip]="lqipOne">
  </ik-image>
  <p>Progressive image loading with lazy loading</p>
  <ik-image
        class='lazyload-lqip'
        path={{path}}
        urlEndpoint="https://ik.imagekit.io/demo/"
        [transformation]="transformation"
        [loading]="lazyload"
        [lqip]="lqipTwo">
  </ik-image>
  <p>Upload</p>
  <p>To use this funtionality please remember to setup the server</p>
  <ik-upload 
    #upload
    fileName="test.jpg" 
    [tags]='["sample-tag1", "sample-tag2"]'
    customCoordinates="10,10,10,10"
    [isPrivateFile]="false"
    [responseFields]='["tags"]'
    folder="/sample-folder"
    (onError)="handleUploadError($event)"
    (onSuccess)="handleUploadSuccess($event)" 
    [validateFile]="validateFileFunction"
    [onUploadStart]="onUploadStartFunction"
    [onUploadProgress]="onUploadProgressFunction"
    [authenticator]="authenticator"
    [checks]="'\'request.folder\' : \'sample-folder/\''"
    class="file-upload-ik">
  </ik-upload>
  <button (click)="onAbortFunction()">Abort</button>

  <p>Your above uploaded file will appear here </p>
  <ik-image 
    [src]="uploadedImageSource"
    class="uploaded-img-ik">
  </ik-image>

  <p>Upload with custom button</p>
  <ik-upload 
    (onSuccess)="handleUploadSuccess($event)"
    (onError)="handleUploadError($event)"
    [buttonRef] = 'myBtn'
    [authenticator]="authenticator"
    >
  </ik-upload>
  <button #myBtn type="button" style="color:blue">
    <span>Upload</span>
  </button>
</div>